body{
    background-color: rgb(245, 180, 245);
    color: rgb(255, 255, 255);
}

.cabecalho{
    background-image: url(./img/retrato-jogo-de-um-adoravel-pug-filhote-cachorro_53876-64794\ \(2\).avif);
    height: 500px; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.conteudo01{
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 193, 255);
    font-size: 24px;
    color: azure;
}


.conteudo01-img{
    width: 40%;
}
.conteudo01-direito{
    background-color: rgb(184, 138, 236);
    padding: 32px;
}