body{
    background-color: rgb(77, 146, 207);
    color: rgba(255, 255, 255, 0);
}

.cabecalho{
    background-image: url(./img/retrato-jogo-de-um-adoravel-pug-filhote-cachorro_53876-64794\ \(2\).avif);
    height: 500px; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

